<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Criar uma nova bebida</h1>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-success btn-sm', value: 'Criar cocktail' %>
      <% end %>
      <%= link_to "Voltar para todos as bebidas", root_path, class: 'btn btn-success btn-sm mt-2' %>
    </div>
  </div>
</div>
