.footer {
  background: #edf6f9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: relative;
  bottom: 15px;
  width: 100%;
  height: 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #edf6f9;
  opacity: 0.15;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
